.box{
    display: flex;
//  flex-direction: row;
//  flex-wrap: wrap;
    flex-flow: row nowrap;
    width:100%;
    height:500px;
    background:blanchedalmond;
    justify-content: center;
    align-items: center;
    
    div{
       border:1px solid red; 
         width:600px;
         height: 100px;
       &:nth-of-type(1){
//        align-self: center;
       }
       &:nth-of-type(2){
           align-self: flex-end;
//         flex:0 1 50%;
//         flex-shrink flex-grow flex-basis
       }
        &:nth-of-type(3){
//         flex:0 1 50%;
           
       }
    }
}
